{{- $hostname := .chezmoi.hostname -}}
{{- $isDesktop := or (eq $hostname "EliasPC") (eq $hostname "eliaspc") -}}
{{- $isLaptop := or (eq $hostname "eliaslt") (eq $hostname "EliasLT") -}}
{{- $isWorkLaptop := eq $hostname "HQ-LAP-103" -}}
{{- $isOmarchy := lookPath "omarchy" | not | not -}}

{{- $device := "unknown" -}}
{{- if $isDesktop }}
{{-   $device = "eliaspc" }}
{{- else if $isLaptop }}
{{-   $device = "eliaslt" }}
{{- end }}

{{- $isWSL := (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
{{- $hasDE := or (eq .chezmoi.os "windows") $isOmarchy (and (not $isWSL) (not (eq $device "server"))) -}}

{{- $forceUseHyprlockOnBoot := env "FORCE_HYPRLOCK_ON_BOOT" | eq "true" -}}
{{- $useHyprlockOnBoot := or $forceUseHyprlockOnBoot (and $isDesktop $isOmarchy) -}}

sourceDir = "/home/elias/p/dotfiles"

[data]
  hostname = {{ $hostname | quote }}
  device = {{ $device | quote }}
  isDesktop = {{ $isDesktop }}
  isLaptop = {{ $isLaptop }}
  isWorkLaptop = {{ $isWorkLaptop }}
  isOmarchy = {{ $isOmarchy }}
  hasDE = {{ $hasDE }}
{{- if $isDesktop }}
  monitorScale = 1.0
  primaryMonitor = "DP-1"
{{- else if $isLaptop }}
  monitorScale = 1.25
  primaryMonitor = "eDP-1"
{{- end }}
  useHyprlockOnBoot = {{ $useHyprlockOnBoot }}
  editor = "zeditor"

[merge]
command = "bash"
args = [
  "-c",
  {{ printf "%q" "cp {{ .Target | quote }} {{ printf \"%s.base\" .Target | quote }} && code --new-window --wait --merge {{ .Destination | quote }} {{ .Target | quote }} {{ printf \"%s.base\" .Target | quote }} {{ .Source | quote }}" }},
]
