{{- $hostname := .chezmoi.hostname -}}
{{- $isDesktop := eq $hostname "eliaspc" -}}
{{- $isLaptop := eq $hostname "eliaslt" -}}

sourceDir = "/home/elias/p/dotfiles"

[data]
  hostname = {{ $hostname | quote }}
  isDesktop = {{ $isDesktop }}
  isLaptop = {{ $isLaptop }}

{{- if $isDesktop }}
  # Desktop-specific
  monitorScale = 1.0
  primaryMonitor = "DP-1"
{{- else if $isLaptop }}
  # Laptop-specific
  monitorScale = 1.25
  primaryMonitor = "eDP-1"
{{- end }}
   
