# Environment variables
env = EDITOR,nvim

{{- if .useHyprlockOnBoot }}
exec-once = uwsm app -- hyprlock --immediate-render
{{- end }}
exec-once = check-status
exec-once = check-agents-sync
#exec-once = uwsm app -- 1password
exec-once = uwsm app -- bitwarden
exec-once = uwsm app -- syncthing --no-browser
# exec-once = uwsm app -- voxtype daemon
