[Desktop Entry]
Type=Application
Name=Package Manager
Comment=Manage software packages
Exec={{ .chezmoi.homeDir }}/.local/bin/package-manager-gui
Icon=system-software-install
Terminal=false
Categories=System;Settings;
Keywords=package;software;install;update;
